# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint
from math import sin, cos, sqrt, atan2, radians

# Import API key
from api_keys import g_key
print(g_key)

AIzaSyCOYxiShRQGZBoeKGlofUmVw75gSW60m5g

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# File to Load (Remember to Change These)
file_to_load = '..\Output\Weather_Data.csv'

# Read Purchasing File and store into Pandas data frame
weather_data = pd.read_csv(file_to_load)
weather_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Puerto Ayora,1,EC,1585650989,87,-0.74,-90.35,24.44,2.99
1,New Norfolk,40,AU,1585650989,62,-42.78,147.06,16.11,1.00
2,Chokurdakh,100,RU,1585650989,92,70.63,147.92,-19.74,2.93
3,Killybegs,90,IE,1585650990,81,54.63,-8.45,8.33,2.60
4,Castro,10,BR,1585650901,52,-24.79,-50.01,21.55,0.77
...,...,...,...,...,...,...,...,...,...
547,Kiama,75,AU,1585651138,88,-34.68,150.87,21.11,2.60
548,Mosquera,75,CO,1585651139,93,4.71,-74.23,12.00,2.10
549,Herat Province,75,AF,1585651139,71,34.50,62.00,12.00,6.20
550,Songyuan,4,CN,1585651139,49,45.12,124.86,5.29,3.03
551,Agua Dulce,1,MX,1585651139,90,18.13,-94.13,22.65,0.74

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
figure_layout={
    'width': '800px',
    'height': '400px',
    'border': '1px solid black',
    'padding': '1px',
    'marging': '0 auto 0 auto'
}
gmaps.configure(api_key=g_key)
fig=gmaps.figure(layout=figure_layout)
fig

Figure(layout=FigureLayout(border='1px solid black', height='400px', padding='1px', width='800px'))

In [4]:
coordinates= weather_data[['Lat','Lng']]
humidity=weather_data['Humidity'].astype(float)
figure_layout={
    'width': '800px',
    'height': '400px',
    'border': '1px solid black',
    'padding': '1px',
    'marging': '0 auto 0 auto'
}
gmaps.configure(api_key=g_key)
fig=gmaps.figure(layout=figure_layout)
heat_layer=gmaps.heatmap_layer(coordinates,weights=humidity,dissipating=False,max_intensity=weather_data['Humidity'].max(),point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='400px', padding='1px', width='800px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
filtered_data = weather_data[(weather_data['Max Temp'] >= 20) & (weather_data['Max Temp'] <= 30) & (weather_data['Wind Speed'] < 2) & (weather_data['Cloudiness'] <= 10)]
narrowed_data=filtered_data.dropna().set_index('City').reset_index()
narrowed_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Castro,10,BR,1585650901,52,-24.79,-50.01,21.55,0.77
1,Marzuq,1,YE,1585650407,26,14.40,46.47,29.08,1.33
2,Tura,0,IN,1585651026,19,25.52,90.22,27.37,1.59
3,Jesús Carranza,0,MX,1585651029,93,17.43,-95.03,21.19,1.17
4,San Patricio,0,MX,1585651040,61,19.22,-104.70,23.05,1.11
5,Coahuayana Viejo,6,MX,1585651081,48,18.73,-103.68,22.93,0.78
6,Saiha,0,IN,1585651087,18,22.48,92.97,25.66,0.79
7,Tsiroanomandidy,4,MG,1585651128,41,-18.77,46.03,28.45,1.64
8,Catemaco,0,MX,1585651134,74,18.42,-95.12,20.26,1.24
9,Agua Dulce,1,MX,1585651139,90,18.13,-94.13,22.65,0.74

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

names=[]
cities=[]
countries=[]
latitudes=[]
longitudes=[]
distances=[]


for x in range(len(narrowed_data['Lat'])):
    coordinates=f"{str(narrowed_data['Lat'][x])},{str(narrowed_data['Lng'][x])}"
    params = {
        "location": coordinates,
        "rankby": "distance",
        "keyword": "hotel" or "inn" or "hostal" or "motel" or "suite",
        "key": g_key,}
    
    response = requests.get(base_url, params=params).json()
    for y in range(len(response['results'])):

        R = 6373.0

        lat1 = radians(narrowed_data['Lat'][x])
        lon1 = radians(narrowed_data['Lng'][x])
        lat2 = radians(response['results'][y]['geometry']['location']['lat'])
        lon2 = radians(response['results'][y]['geometry']['location']['lng'])

        dlon = lon2 - lon1
        dlat = lat2 - lat1

        a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
        c = 2 * atan2(sqrt(a), sqrt(1 - a))

        distance = R * c * 1000

        if distance <= 5000:
            names.append(response['results'][y]['name'])
            cities.append(narrowed_data['City'][x])
            countries.append(narrowed_data['Country'][x])
            latitudes.append(response['results'][y]['geometry']['location']['lat'])
            longitudes.append(response['results'][y]['geometry']['location']['lng'])
            distances.append(distance)
            break
        else:
            names.append(np.nan)
            cities.append(narrowed_data['City'][x])
            countries.append(narrowed_data['Country'][x])
            latitudes.append(np.nan)
            longitudes.append(np.nan)
            distances.append(distance)
            break

hotel_data = {
    
    "City": cities,
    "Country": countries,
    "Hotel Name": names,
    "Lat": latitudes,
    "Lng": longitudes,
    "Distance": distances
}

hotel_df = pd.DataFrame(hotel_data)
hotel_df

,City,Country,Hotel Name,Lat,Lng,Distance
0,Castro,BR,OYO Grande Hotel,-24.791473,-50.008046,256.492579
1,Tura,IN,Hotel RIKMAN Continental,25.512665,90.217633,849.793100
2,Jesús Carranza,MX,Hotel Cristal,17.432860,-95.023833,727.638628
3,San Patricio,MX,Bungalows AZTECA,19.221473,-104.699144,186.887716
4,Coahuayana Viejo,MX,Hotel Los Arcos,18.701049,-103.660965,3793.551587
5,Saiha,IN,"DC Conference Hall, Siaha",22.489992,92.974318,1196.731235
6,Tsiroanomandidy,MG,Commissariat De Police Tsiroanomandidy,-18.767904,46.051553,2281.787317
7,Catemaco,MX,Hotel Playa Cristal,18.417282,-95.117578,395.871970
8,Agua Dulce,MX,"Hotel ""Miller""",18.136671,-94.146328,1878.652082

In [7]:
hotel_df=hotel_df.dropna()
hotel_df

,City,Country,Hotel Name,Lat,Lng,Distance
0,Castro,BR,OYO Grande Hotel,-24.791473,-50.008046,256.492579
1,Tura,IN,Hotel RIKMAN Continental,25.512665,90.217633,849.793100
2,Jesús Carranza,MX,Hotel Cristal,17.432860,-95.023833,727.638628
3,San Patricio,MX,Bungalows AZTECA,19.221473,-104.699144,186.887716
4,Coahuayana Viejo,MX,Hotel Los Arcos,18.701049,-103.660965,3793.551587
5,Saiha,IN,"DC Conference Hall, Siaha",22.489992,92.974318,1196.731235
6,Tsiroanomandidy,MG,Commissariat De Police Tsiroanomandidy,-18.767904,46.051553,2281.787317
7,Catemaco,MX,Hotel Playa Cristal,18.417282,-95.117578,395.871970
8,Agua Dulce,MX,"Hotel ""Miller""",18.136671,-94.146328,1878.652082

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]
pprint(hotel_info)

['\n'
 '<dl>\n'
 '<dt>Name</dt><dd>OYO Grande Hotel</dd>\n'
 '<dt>City</dt><dd>Castro</dd>\n'
 '<dt>Country</dt><dd>BR</dd>\n'
 '</dl>\n',
 '\n'
 '<dl>\n'
 '<dt>Name</dt><dd>Hotel RIKMAN Continental</dd>\n'
 '<dt>City</dt><dd>Tura</dd>\n'
 '<dt>Country</dt><dd>IN</dd>\n'
 '</dl>\n',
 '\n'
 '<dl>\n'
 '<dt>Name</dt><dd>Hotel Cristal</dd>\n'
 '<dt>City</dt><dd>Jesús Carranza</dd>\n'
 '<dt>Country</dt><dd>MX</dd>\n'
 '</dl>\n',
 '\n'
 '<dl>\n'
 '<dt>Name</dt><dd>Bungalows AZTECA</dd>\n'
 '<dt>City</dt><dd>San Patricio</dd>\n'
 '<dt>Country</dt><dd>MX</dd>\n'
 '</dl>\n',
 '\n'
 '<dl>\n'
 '<dt>Name</dt><dd>Hotel Los Arcos</dd>\n'
 '<dt>City</dt><dd>Coahuayana Viejo</dd>\n'
 '<dt>Country</dt><dd>MX</dd>\n'
 '</dl>\n',
 '\n'
 '<dl>\n'
 '<dt>Name</dt><dd>DC Conference Hall, Siaha</dd>\n'
 '<dt>City</dt><dd>Saiha</dd>\n'
 '<dt>Country</dt><dd>IN</dd>\n'
 '</dl>\n',
 '\n'
 '<dl>\n'
 '<dt>Name</dt><dd>Commissariat De Police Tsiroanomandidy</dd>\n'
 '<dt>City</dt><dd>Tsiroanomandidy</dd>\n'
 '<dt>Country</dt><dd>MG</dd>\n'
 '</dl>\n',
 '\n'
 '<dl>\n'
 '<dt>Name</dt><dd>Hotel Playa Cristal</dd>\n'
 '<dt>City</dt><dd>Catemaco</dd>\n'
 '<dt>Country</dt><dd>MX</dd>\n'
 '</dl>\n',
 '\n'
 '<dl>\n'
 '<dt>Name</dt><dd>Hotel "Miller"</dd>\n'
 '<dt>City</dt><dd>Agua Dulce</dd>\n'
 '<dt>Country</dt><dd>MX</dd>\n'
 '</dl>\n']

In [9]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
# Display Map
coordinates= weather_data[['Lat','Lng']]
humidity=weather_data['Humidity'].astype(float)
figure_layout={
    'width': '800px',
    'height': '400px',
    'border': '1px solid black',
    'padding': '1px',
    'marging': '0 auto 0 auto'
}
gmaps.configure(api_key=g_key)
fig=gmaps.figure(layout=figure_layout)
heat_layer=gmaps.heatmap_layer(coordinates,weights=humidity,dissipating=False,max_intensity=weather_data['Humidity'].max(),point_radius=3)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='400px', padding='1px', width='800px'))